.accordion {
	ul {
		@extend .list-unstyled;
	}
	&__item {
		position: relative;
		&__title {
			cursor: pointer;
			user-select: none;
			p {
				padding: 0;
				margin: 0;
			}
		}
		&__content {
			max-height: 0;
			overflow: hidden;
			transition: $basic-transitions max-height; 
		}
		&.open {
			.accordion__item__content {
				padding-bottom: $spacer;
				max-height: inherit;
			}
		}
	}
}