.section-landing {
	@extend .bg-proyect;
	// background: black;
	display: flex;
	align-items: center;
    justify-content: center;
	width: 100%;
	padding: 0;
}
.landing {
	color: $white;
	&__logo {
		width: 80%;
		margin: 0 auto;
		fill: $white;
	}
	&__slogan {
		padding: $spacer*2 0;
		h1 {
			font-size: 2rem;
		}
	}
}