.content-steps {
	overflow: hidden;
	position: relative;
	.step.open {
		opacity: 1;
		position:relative;
		transition: ease-out .4s margin;
		margin-left: $spacer;
	}
	.step{
		top: 0;
		bottom: 0;
	    margin-left: 100%;
	    position: absolute;
	    opacity: 0;
		transition: ease-in .4s margin;
		transition-delay: .3s;
		width: 100%;
		& > div {
			padding-right: $spacer*4;
		}
	}
}
